<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="chevron-back"></ion-icon> Hub
      </ion-button>
    </ion-buttons>
    <ion-title>Expenses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Expenses</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ng-container *ngIf="expenseService.expenses$ | async as expenses">
    <ion-list *ngIf="expenses.length > 0">
      <ion-list-header>
        <ion-label>Completed Expenses</ion-label>
      </ion-list-header>
      <app-expense-list-item
        *ngFor="let expense of expenses"
        [expense]="expense"
        (expenseClicked)="openModal($event)"
      >
      </app-expense-list-item>
    </ion-list>
  </ng-container>
</ion-content>
