<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) requires access to your phone’s camera to take photos and video.</string>
    <key>NSFaceIDUsageDescription</key>
    <string>$(PRODUCT_NAME) requires access to Face ID to authenticate and log in.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Always allow Geolocation?</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Allow Geolocation?</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>$(PRODUCT_NAME) requires access to your phone's microphone to record audio with video.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>$(PRODUCT_NAME) requires access to your phone's photo library to store photos.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>$(PRODUCT_NAME) requires access to your phone's photo library to pick photos.</string>
</dict>
</plist>
